<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">联系我们</h2>
                    <h3 class="section-subheading text-muted">欢迎您的光临</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-6 address">
                      <p>地址:  陕西省西安市高新区天谷七路996号西安国家数字出版基地A座10701室</p>
                      <p>邮编:  710077</p>
                      <p>电话:  (029)62082037</p>
                      <p>网址:  www.hileveps.com</p>
                      <p>邮箱:  hileveps@hileveps.com</p>
                    </div>
                    <div class="col-md-6 address">
                      <p>Add:  Room 10701, Building A, Xi'an National Digital Publishing Base, 996 Tiangu 7 Road, Yanta District, Xi'an City, Shaanxi Province, PRC.</p>
                      <p>POSTCODE:  710077</p>
                      <p>Tel:  +86-29-62082037</p>
                      <p>WEB:  www.hileveps.com</p>
                      <p>Mail:  hileveps@hileveps.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
