<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">服务内容</h2>
                    <h3 class="section-subheading text-muted">致力于打造基于生物识别的智能物联网平台</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">硬件设计</h4>
                    <p class="text-muted">我们提供硬件电路板，智能设备的设计，研发，制造等服务。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">软件开发</h4>
                    <p class="text-muted">我们提供基于物联网的软件平台的设计，研发以及维护等服务。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">技术服务</h4>
                    <p class="text-muted">我们提供生物识别，物联网，大数据分析等方向的技术咨询服务。</p>
                </div>
            </div>
        </div>
    </section>
